.container {
  margin:0 auto;
  width:90%;
}

body {
    background-image: url("../assets/textured_paper.png");
    color:#222;
}

header h1 {
  font-family: 'Schoolbell', cursive;
  border-bottom: solid 2px #333;
}
